{%  load static %}

<div id="floatlabel" style="position:fixed; bottom:20px; right:0; z-index:26000"  >

<!--
    <div>
        <a  href="https://" title="Телефон"  >
            <img src=" {%  static 'korp/images/phone.png' %}  " alt="Телефон" title="Телефон"   />
        </a>
    </div>
    -->


    <div  >
        <a   href="https://t.me/gebo2003" title="telegram"  >
            <img src=" {%  static 'korp/images/telegram2.png' %}  " alt="Наш оператор на Telegram" title="Наш оператор на telegram"   />
        </a>
    </div>

    <div>
        <a  href="https://wa.me/79263616505"   title="Наш оператор на Whatsapp"  >
            <img src=" {%  static 'korp/images/whatsapp.png' %}  " alt="whatsapp" title="Наш оператор на whatsapp"   />

        </a> </div>

    </div>