{% load korp_tags %}

{% block menu %}

   <div class="moduletablehormenu">

       <a href="{%  url 'ref' 3 %}" {% if menuitem == 3 %} class="hl" {% endif  %}> Офисы </a>
       <a href="{%  url 'ref' 4  %}" {% if menuitem == 4 %} class="hl" {% endif  %}> Торговая площадь</a>
       <a href="{%  url 'ref' 5  %}" {% if menuitem == 5 %} class="hl" {% endif  %}> Здания </a>

       <a href="{%  url 'ref' 7  %}" {% if menuitem == 7 %} class="hl" {% endif  %}> Производство</a>
       <a href="{%  url 'ref' 8  %}" {% if menuitem == 8 %} class="hl" {% endif  %}>Склады </a>
       <a href="{%  url 'ref' 9  %}" {% if menuitem == 9 %} class="hl" {% endif  %}> ПСН </a>
       <a href="{%  url 'ref' 10  %}" {% if menuitem == 10 %} class="hl" {% endif  %}> Ритейл</a>
       <a href="{%  url 'ref' 11  %}" {% if menuitem == 11 %} class="hl" {% endif  %}> Земля</a>

        </div>
{% endblock %}