{% load static %}


 <h3 class="centered" > ПОПУЛЯРНЫЕ КАТЕГОРИИ </h3>

<div id="often"   >

    <div class="often">
	<a href="/korp/category/3/">
        <img alt="Офисы в аренду" src="{%  static 'korp/images/often.jpg' %}" title=" Офисы в аренду " />
    </a>
	<a href="/korp/category/3/">	Офисы в аренду</a>
    </div>



    <div class="often">
	<a href="/korp/category/3/">
        <img alt="Офисы в аренду" src="{%  static 'korp/images/often.jpg' %}" title=" Офисы в аренду " />
    </a>
	<a href="/korp/category/3/">	Продажа офисов </a>
    </div>


    <div class="often">
	<a href="/korp/category/3/">
        <img alt="Офисы в аренду" src="{%  static 'korp/images/often.jpg' %}" title=" Офисы в аренду " />
    </a>
	<a href="/korp/category/3/">	Офисы в аренду</a>
    </div>

    <div class="often">
	<a href="/korp/category/3/">
        <img alt="Офисы в аренду" src="{%  static 'korp/images/often.jpg' %}" title=" Офисы в аренду " />
    </a>
	<a href="/korp/category/3/">	Офисы в аренду</a>
    </div>

    <div class="often">
	<a href="/korp/category/3/">
        <img alt="Офисы в аренду" src="{%  static 'korp/images/often.jpg' %}" title=" Офисы в аренду " />
    </a>
	<a href="/korp/category/3/">	Офисы в аренду</a>
    </div>


</div>  <!--  id=often -->


<style>

div.slider2- {background-image:url('{%  static 'korp/images/fon2.jpg' %}'); }
div.slider2 { height:350px; background-size:cover}

</style>