{% load static %}

<div class="custompreim"  id="preim" >


<div class="preim">
	<img alt=" Продажа и аренда коммерческой недвижимости " src="{%  static 'korp/images/preim.png' %}" title=" Продажа и аренда коммерческой недвижимости " />
	<h4>
		Продажа и аренда коммерческой недвижимости</h4>
</div>

<div class="preim">
	<img alt=" Ценный многолетний опыт сотрудников " src="{%  static 'korp/images/preim.png' %}" title=" Ценный многолетний опыт сотрудников " />
	<h4>
		Ценный многолетний опыт сотрудников</h4>
</div>

<div class="preim">
	<img alt=" Широкий спектр услуг в сфере недвижимости" src="{%  static 'korp/images/preim.png' %}" title=" Широкий спектр услуг в сфере недвижимости " />
	<h4>
		Широкий спектр услуг в сфере недвижимости</h4>
</div>

<div class="preim">
	<img alt="Надежность и эффективность" src="{%  static 'korp/images/preim.png' %}" title="Надежность и эффективность" />
	<h4>
		Надежность и эффективность в работе с клиентами  </h4>
</div>

</div>  <!-- custompreim -->


<style>
div.slider {background-image:url('{%  static 'korp/images/fon2.jpg' %}'); height:350px; background-size:cover}
</style>