{%  load static %}

{% block top %}
<div id="top1">
<a href="{%  url 'home_ref' %}"   title="ГЕБО КОММЕРЦ Агентство недвижимости"  >
    <img src=" {%  static 'korp/images/emblema2.png' %}  " alt="ГЕБО КОММЕРЦ Агентство недвижимости" title="ГЕБО КОММЕРЦ Агентство недвижимости"   />
</a>
</div>

<div id="top2">
<p>Ваш правильный выбор &nbsp;&nbsp;&nbsp;&#128379;&nbsp;
     <a href="tel:79646388181">7 (964) 638-81-81</a>
</p>
<strong>ГЕБО КОММЕРЦ Агентство недвижимости </strong>
</div>


<div id="top3">

<div class="flexcontainer">
   <table>
  <tr>
    <td>
        <a   href="https://t.me/gebo2003" title="наш telegram-канал о рынке недвижимости"  >
        <img src=" {%  static 'korp/images/telegram2.png' %}  " alt="наш telegram-канал о рынке недвижимости" title="наш telegram-канал о рынке недвижимости"   />
        </a>
    </td>
      <td>наш telegram-канал о рынке недвижимости</td>
  </tr>

    <tr>
    <td>
        <a   href="https://t.me/79263616505" title="наш telegram-канал о рынке недвижимости"  >
        <img src=" {%  static 'korp/images/telegram2.png' %}  " alt="наш telegram-канал о рынке недвижимости" title="наш telegram-канал о рынке недвижимости"   />
        </a>
    </td>
      <td>&#128379Telegram с нашим оператором</td>
  </tr>


     <tr>
    <td>   <a  href="https://wa.me/79263616505"   title="Наш оператор на Whatsapp"  >
             <img src=" {%  static 'korp/images/whatsapp.png' %}  " alt="Наш оператор на Whatsapp" title="Наш оператор на whatsapp"   />
    </a>
    </td>
      <td> &#128379Whatsapp с нашим оператором </td>
  </tr>
</table>
</div>





    <div class="topmenu">
      {% comment %}
        <a href="{%  url 'search_ref'   %}  ">Поиск</a>
         {% endcomment %}


    </div>


</div>
{% endblock %}