{%  load static %}
{% load korp_tags %}



<div class="blog_item">
            <div class="blog_img">
                {% if item.photo %}
                <a href="{{item.get_absolute_url}}"  title="{{item.title}}"    class="blog_podr">
                <div class="img">
                         <img src="{{item.photo.url}}"  alt="{{item.title}}" class="blogphoto">
                    </div>
                </a>
                {% else %}
                <a href="{{item.get_absolute_url}}"  title="{{item.title}}"   class="blog_podr">
                <div class="img">
                         <img src="/nophoto.jpg" alt="{{item.title}}" class="blogphoto">
                    </div>
                </a>

                {% endif %}
            </div> <!-- blog_img  -->


             <div class="blog_content">



<!------------------------>

{% comment %}

foto {{ item.photo }}
<br/>
url {% if item.photo %}
{{item.photo.url}}
{% endif %}<br/>
                 {% endcomment %}
<!------------------------>

                 <a href="{{item.get_absolute_url}}"  title="{{item.title}}"   class="blog_title"> {{item.title}}  (id{{item.pk}}) </a>
                 <div >
{% if rentsale == 'rent' %}  {{ item.price_rent | space_format }}   {% endif %}
{% if rentsale == 'sale' %}  {{ item.price_sale | space_format }}   {% endif %}
                     {{ pricetype }}
                 </div>

                 <div >{{item.square | space_format }} м<sup>2</sup> </div>
                 <div >{{item.adres |  truncatewords:400 }}</div>
                    <a href="{{item.get_absolute_url}}"   title="Подробнее" class="blog_podr">
                        Подробнее...
                    </a>

                  {% if user.is_authenticated %}
                 <a href="{%  url 'showzavs_ref'  item.pk item.categ %}"  class="showzavs">
                        Заявки22
                    </a>

                 {% else %} {% endif %}

             </div> <!-- blog_content  -->




    </div> <!-- blog item  -->
