{% load korp_tags %}

{% block menu %}



{% comment %}
        <div class="moduletablehormenu">
            {%  for m in menu  %}
<a href="{%  url m.urlname %}"> {{m.title}} </a>
            {%  endfor  %}
        </div>
{% endcomment %}



   <div class="moduletablehormenu">

       <a href="{%  url 'home_ref' %}">О КОМПАНИИ</a>
       <a href="{%  url 'events_ref'  %}">СОБЫТИЯ</a>
       <a href="{%  url 'form_ref'  %}">ФОРМА ЗАЯВКИ</a>
       <!--
       <a href="vvv">ЛИЧНЫЙ КАБИНЕТ</a>
        <a href="vvv">ДОБАВИТЬ СОБЫТИЕ</a>
       -->
       <a href="{%  url 'projects_ref'  %}">ПРОЕКТЫ</a>
       <a href="{%  url 'contacts_ref'  %}">КОНТАКТЫ</a>

        </div>
{% endblock %}