{% extends 'korp/base.html'  %}
{%  load static %}


{% block content %}


{% if content  %}
    <h2> {{ content  }} </h2>
{% else %}

            <form action="{% url 'postevent_ref' %}" method="post"  id="form-appl">
                {% csrf_token %}
                 <div class="form-error"  > {{ form.non_field_errors  }}  </div>
                {% for f in form %}
               {% comment %}  {{ f.name }} {% endcomment %}
                    <div class="form-wrap">
                        <div class="label {% if f.name == 'conf' %}labelconf{% endif %}">
                            <label class="form-label" for="{{ f.id_for_label }}"> {{ f.label }}</label>
                        </div>
                         <div class="input {% if f.name == 'conf' %}checkconf{% endif %}">
                            {{ f }}
                         </div>
                    </div>
                <div class="form-error"  > {{ f.error  }}  </div>
            {% endfor %}
                <div class="divsubmut"> <input type="submit" value="Отправить" class="submut" /> </div>
            </form>





{% endif %}



{% endblock %}

# https://docs.djangoproject.com/en/4.2/ref/forms/fields/#charfield