{% extends 'korp/base.html'  %}

{% block content %}

<h4> Курсы сертификации компании РССП</h4>

    <table class="list-projects">
     <tr>
    <th> Название курса сертификации</th>
      <th> Стоимость курса <br/>(руб) </th>
      <th>Стоимость курса <br/>(валюта по запросу) </th>
  </tr>


        {% for p in object_list %}
  <tr>
    <td> <a href="/korp/project/{{p.pk}}"> {{p.title}} </a></td>
      <td>{{p.pricerub}} </td>
      <td>{{p.id}} </td>
  </tr>
        {%  endfor  %}
</table>


{% endblock %}


