{%  load static %}

{% block top %}
<div id="top1">
<a href="{%  url 'home_ref' %}"   title="РССП Регистр системы сертификации персонала - Автономная некоммерческая организация"  >
    <img src=" {%  static 'korp/images/emblema2.png' %}  " alt="РССП Регистр системы сертификации персонала - Автономная некоммерческая организация" title="РССП Регистр системы сертификации персонала - Автономная некоммерческая организация"   /></a>
</div>
<div id="top2">
<p>Автономная некоммерческая организация</p>
<strong>РЕГИСТР СИСТЕМЫ СЕРТИФИКАЦИИ ПЕРСОНАЛА (РССП)  </strong>
</div>
{% endblock %}